<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Adonis Pagination Tutorial By Elvis Onobo | elvis.onobo@gmail.com</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>

<body>
  <h1 class="text-center">Page {{ articles.page }} of {{ articles.lastPage }}</h1>

  <div class="col-md-12 row justify-content-center">
    @each(article in articles.data)
      <div class="card m-2" style="width: 18rem;">
        <img src="{{ assetsUrl(article.article_image) }}" class="card-img-top" alt="{{ assetsUrl(article.article_title) }}">
        <div class="card-body">
          <h5 class="card-title">{{ article.article_title }}</h5>
          <p class="card-text">{{ assetsUrl(article.created_at) }}</p>
          <a href="#" class="btn btn-primary">Read Article</a>
        </div>
      </div>
    @endeach

    <div class="col-md-6 col-md-offset-3 row mt-2">
      <a href="{{ articles.page == 1 ? '#' : route('articles', { page: articles.page - 1}) }}" rel="prev" class="btn btn-primary">Previous</a>
      <p class="ml-2 mr-2">Page {{ articles.page }} of {{ articles.lastPage }}</p>
      <a href="{{ articles.lastPage == articles.page ? '#' : route('articles', { page: articles.page + 1}) }}" class="btn btn-primary">Next</a>
    </div>
  </div>

</body>
</html>
